# This is a basic workflow to help you get started with Actions

name: Build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the release branch
on:
  push:
    branches: [ release ]
  pull_request:
    branches: [ release ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Install dependencies
      - name: Install dependencies
        run: |
          sudo apt-get install gcovr
          sudo apt-get install clang-tidy
          sudo apt-get install doxygen
          sudo apt-get install clang-format
          git clone https://github.com/catchorg/Catch2
          cd Catch2
          mkdir build && cd build
          cmake ..
          sudo make install
      
      # Run cmake
      - name : Run cmake
        run: |
          mkdir build
          cd build
          cmake -DENABLE_CODE_COVERAGE=ON -DENABLE_CLANG_TIDY=ON -DENABLE_CLANG_FORMAT=ON -DBUILD_DOC=ON -DBUILD_TESTS=ON -DCMAKE_EXPORT_COMPILE_COMMANDS=ON ..
          make          
